@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Special+Gothic+Condensed+One&display=swap');


* {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .5s !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, blue, transparent);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, rgb(147, 7, 228) ,  rgba(0, 0, 255, 0.427) );
}

:dir(rtl) {
    font-family: "Cairo Play", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;

}


:dir(rtl) .offcanvas.offcanvas-start {
    left: auto;
    transform: translateX(100%);
}

:dir(rtl) .offcanvas.show:not(.hiding) {
    transform: none;
}

:dir(rtl) .btn-close {
    margin-right: auto;
    margin-left: 0;
}

.navbar {
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
}

.icon-bar:hover {
    color: rgb(215, 209, 31) !important;
}

.pointer {
    cursor: pointer;
}

.home:hover {
    color: #f97f6e !important;
}


.carousel-inner img {
    height: 90vh;
    object-fit: contain;
}

.carousel-caption {
    background-color: rgba(108, 108, 193, 0.4);
    bottom: 100px;
    padding: 50px !important;
    border-radius: 20px;
}

.carousel-caption:hover {
    background-color: rgba(0, 221, 255, 0.49);
    bottom: 70px;
}

.carousel-indicators button {
    background-color: rgba(0, 0, 0, 0.743) !important;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
}

.carousel-indicators button:hover {
    background-color: rgba(25, 0, 255, 0.647) !important;
}

.orders img {
    width: 90%;
}

.orders img:hover {
    transform: scale(1.05);
    margin-bottom: 10px;
}


.stars {
    color: #d56363;
    cursor: pointer;
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: green;
}


.animate {
    overflow: hidden;
}


.animate img:hover {
    transform:scale(1.07) skew(3.5deg);

}




.animation {
    opacity: 0;

    transition-delay: 0.4s;

}

.scroll-animation {
    opacity: 1 !important;
}

.zgrid{
    margin-left: 110px;    
}

.Shopp{
    color: rgba(222, 226, 230, 0.75) !important;
}
.Shopp:hover{
    color: #6e95f9 !important;
}